//* Mixin +++++++++++++++++++
@mixin flexCenter($direction, $background){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {

    @include flexCenter(column, rgb(98, 98, 234));

    font-size: 20px;
    color: $textColorWhite;

    button {
        background: $redBtn;
        border-radius: 1rem;
        padding: 15px 50px;

        &:hover {
            background: $blueBtn;
            cursor: pointer;
        }

        &::after {
            content: " Helloooooo";
        }
    }
}
